@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Great+Vibes&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.channel-profile {
  border-radius: 50px;
  width: 36px;
  margin-top: 12px;
}
.video-preview {
  font-family: "Roboto", serif;
}
.title {
  font-weight: 500;
  margin-bottom: 20px;
  width: 300px;
  margin-top: 10px;
  font-size: 14px;
}
.author,
.state {
  line-height: 20px;
  color: rgb(126, 120, 120);
  font-size: 14px;
}

.video-picture {
  position: relative;
}
.thumbnail {
  width: 100%;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 60px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.video-time {
  padding: 4px; /*top right bottom left*/
  background-color: rgb(43, 42, 42);
  color: white;
  text-align: center;
  font-size: 14px;
  position: absolute;
  bottom: 17px;
  right: 10px;
  border-radius: 2px;
}
/*short-hand
  margin: top right bottom left
*/
