.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 60px;
  background: white;
  width: 80px;
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  z-index: 1;
}
.home,
.explore,
.sub,
.youtube,
.music,
.library {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.home-icon,
.explore-icon,
.sub-icon,
.youtube-icon,
.music-icon,
.library-icon {
  height: 25px;
}
.home-text,
.explore-text,
.sub-text,
.youtube-text,
.library-text {
  font-family: "Roboto", serif;
  font-size: 13px;
  font-weight: 350;
}
.sub-text {
  font-size: 12px;
}
.music-text {
  font-size: 12px;
  font-weight: 350;
}
